body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div#content-page {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(2, 2, 2);
  background-color: blueviolet;
  width: 100%;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px;
  border: 2px solid rgb(94, 89, 23);
  background-color: rgb(93, 214, 103);
}

.task-container-done {
  display: flex;
  width: 40%;
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid rgb(94, 89, 23);
  background-color: rgb(238, 188, 23);
}

input[type="checkbox"] {
  margin: 10px;
}

.task-container-done img {
  width: 20px;
  height: 20px;
}

.task-container-done button {
  margin-left: 10px;
  border: none;
  background-color: rgb(238, 188, 23);
}

.task-container img {
  width: 20px;
  height: 20px;
}

.task-container button {
  margin-left: 10px;
  border: none;
  background-color: rgb(93, 214, 103);
}

.task-container input text {
  border: none;
}

.text-task {
  font-size: 20px;
  color: black;
  overflow-wrap: anywhere;
}

.done-text {
  color: rgb(214, 44, 44);
  text-decoration: line-through;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-decoration: none;
  padding: 0;
}

div#contentPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .task-container {
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .task-container-done {
    padding: 10px;
    width: 40%;
    flex-direction: column;
  }

  .text-task {
  	font-size: 20px;
  	text-align: center;
  	overflow-wrap: anywhere;
  }

  .task-container-done button {
    margin-left: 0;
  }

  .task-container button {
    margin-left: 0;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
    margin: 0;
  }
}

@media (max-width: 250px) {
  div#up {
    display: flex;
    flex-direction: column;
  }

  div#up button {
    margin: 5px;
  }

  .task-container {
    width: 80%;
  }

  .task-container-done {
    width: 80%;
  }
}
